{% load static %}
<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Photoss{% endblock %}</title>
    </head>
        <body>
            <h1>THE BEST PHOTO GALLERY</h1>
            {% if user.is_authenticated %}
                <p><a href="{% url 'home' %}">Home</a>
                <a href="{% url 'auth_logout' %}">Logout</a>
                <a href="{% url 'add_photo' %}">Add a photo</a>
                <a href="{% url 'add_album' %}">Create Album</a>
                <a href="{% url 'album_list' %}">List of Albums</a>
                <a href="{% url 'photo_list' %}">Photo List</a>
            {% else %}
                <p><a href="{% url 'home' %}">Home</a>
                <a href="{% url 'auth_login' %}">Login</a>
                <a href="{% url 'registration_register' %}">Create Account</a></p>
            {% endif %}

        {% block content %}
        {% endblock %}
        </body>




</html>