{% extends "base.html" %}

{% block content %}
{% for album in albums %}
<article class="bg-white center mw5 ba b--black-10 mv4">
  <div class="pv2 ph3">
     <h1 class="f6 ttu tracked">{{ album.title }}</h1>
  </div>
  <img src="{{ photo.image_thumb.url }}" class="w-100 db" alt="{{ album.description }}">
  <div class="pa3">
    <a href="{% url 'photo_list' %}" class="link dim lh-title">View Photos in Album</a>
    <small class="gray db pv2">{{ album.owner }} - <time>{{ album.created }}</time></small>
  </div>
</article>

{% endfor %}
{% endblock %}