{% extends "base.html" %}

{% block content %}
{% for album in object_list %}
<article class="bg-white center mw5 ba b--black-10 mv4">
  <div class="pv2 ph3">
     <h1 class="f6 ttu tracked">{{ album.title }}</h1>
  </div>
  <img src="{{ album.default_image.url }}" class="w-100 db" alt="{{ album.description }}">
  <div class="pa3">
    <ul><li><a href="{% url 'photo_list' album.pk %}" class="link dim lh-title">View Photos in Album</a></li>
   <li> <a href="{% url 'edit_album' %}" class="link dim lh-title">Edit Album</a></li></ul>

    <small class="gray db pv2">{{ album.owner }} - <time>{{ album.created }}</time></small>
  </div>
</article>

{% endfor %}
{% endblock %}